/* Global Styles */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center-horizontal {
    display: flex;
    justify-content: center;
}

.center-vertical {
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
}



