<div id="login-page" class="center">
    <div id="login-form" class="bg-white center">
        <img src="/assets/images/logo.png" width="200px" height="200px" alt="Logo"/>

        <form (ngSubmit)="onSubmit()" #userLoginForm="ngForm">
        <mat-form-field appearance="fill">
            <mat-label>E-postanızı giriniz</mat-label>
            <input [(ngModel)]="loginUser.eposta" name="eposta" matInput placeholder="pat@example.com" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Şifrenizi giriniz</mat-label>
            <input [(ngModel)]="loginUser.sifre" name="sifre" matInput [type]="passwordHide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide"
                    [attr.aria-label]="'Şifreyi gizle'" [attr.aria-pressed]="passwordHide">
                <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="!userLoginForm.form.valid">Giriş</button>
        </form>
    </div>
</div>

