<div id="kurban-bilgi-page" class="page">
    <h2>Kurban Bilgi</h2>

    <form #hissedarEkleForm="ngForm">
        <div class="center" *ngIf="kurban">
            <table border="0">
                <tr>
                    <td>
                        <h3>Kurban Küpe No: {{kurban.kupeNo | uppercase}}</h3>
                        <img src="{{kurbanResimUrl}}" width="810" height="458" alt="Kurban Foto"/>
                        <br>
                        <mat-form-field [style.width.px]=810>
                            <mat-label>Resim URL</mat-label>
                            <input [(ngModel)]="kurbanEdit.resimUrl" name="ad" value="{{kurban.resimUrl}}" #resimUrl
                                   (change)="onResimUrlChange(resimUrl.value)"
                                   matInput placeholder="">
                        </mat-form-field>
                        <br>
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Cinsi</mat-label>
                            <mat-select [(ngModel)]="kurbanEdit.cins" name="cins" value="{{kurban.cins}}"
                                        (selectionChange)="onCinsChange($event)">
                                <mat-option *ngFor="let cins of cinsler" [value]="cins">
                                    {{cins}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>

                        <mat-form-field appearance="fill">
                            <mat-label>Künyesi</mat-label>
                            <mat-select [(ngModel)]="kurbanEdit.kunye" name="kunye" value="{{kurban.kunye}}">
                                <mat-option *ngFor="let kunye of kunyeler" [value]="kunye">
                                    {{kunye}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>

                        <mat-form-field>
                            <mat-label>Kilosu (kg)</mat-label>
                            <input [(ngModel)]="kurbanEdit.kilo" name="kilo" value="{{kurban.kilo}}" matInput
                                   placeholder="">
                        </mat-form-field>
                        <br>

                        <mat-form-field>
                            <mat-label>Yaşı (ay)</mat-label>
                            <input [(ngModel)]="kurbanEdit.yas" name="yas" value="{{kurban.yas}}" matInput
                                   placeholder="">
                        </mat-form-field>
                        <br>

                        <mat-form-field>
                            <mat-label>Fiyatı (TL)</mat-label>
                            <input [(ngModel)]="kurbanEdit.fiyat" name="fiyat" value="{{kurban.fiyat}}" matInput
                                   placeholder="">
                        </mat-form-field>
                        <br>

                        <mat-form-field>
                            <mat-label>Durumu</mat-label>
                            <input value="{{kurban.durum}}" disabled matInput>
                        </mat-form-field>
                        <br>

                        <div *ngIf="islemDurumu">
                            <button (click)="save()" mat-raised-button color="primary">
                                Kaydet
                            </button>
                        </div>
                    </td>
                    <td>
                        <table border="1">
                            <tr>
                                <td>
                                    Kesim Sırası:
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{kurban.kesimSirasi}}
                                </td>
                            </tr>
                        </table>

                        <div *ngIf="islemDurumu">
                            <button (click)="updateKurbanDurumKesildi(kurban.id)" mat-raised-button color="primary">
                                <mat-icon>device_hub</mat-icon>
                                Kesildi
                            </button>
                            <button (click)="updateKurbanDurumTelef(kurban.id)" mat-raised-button color="primary">
                                <mat-icon>close</mat-icon>
                                Telef
                            </button>
                        </div>


                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="hisse-list">
                            <div class="hisse-list" *ngIf="kurban.hisseList.length != 0">
                                <mat-card class="hisse-card" *ngFor="let hisse of kurban.hisseList; let index = index">
                                    <mat-card-header>
                                        H.No: {{ index + 1 }}
                                        <mat-card-title>{{hisse.ad}} {{hisse.soyad}}</mat-card-title>
                                        <mat-card-subtitle>{{hisse.tel}}</mat-card-subtitle>
                                        <mat-card-subtitle>Fiyat: {{ kurbanHisseFiyati | number:'1.0-2'}} TL</mat-card-subtitle>
                                    </mat-card-header>
                                    <div *ngIf="islemDurumu">
                                        <button (click)="hissedarDuzenle(hisse.id)" mat-mini-fab
                                                color="accent"
                                                aria-label="Edit icon">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button (click)="hissedarKaldir(hisse.id)" mat-mini-fab
                                                color="warn"
                                                aria-label="Delete icon">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </mat-card>
                            </div>
                            <div class="hisse-list" *ngIf="kurban.hisseAdedi - kurban.hisseList.length != 0">
                                <mat-card class="hisse-card"
                                          *ngFor="let item of [].constructor(kurban.hisseAdedi - kurban.hisseList.length); let index = index">
                                    <mat-card-header>
                                        H.No: {{kurban.hisseList.length + index + 1 }}
                                    </mat-card-header>
                                    <mat-card-actions>
                                        <div *ngIf="islemDurumu">
                                            <button (click)="mevcutHissedarEkle()" mat-mini-fab
                                                    color="accent"
                                                    aria-label="Add icon" title="Mevcut Hissedar Ekle">
                                                <mat-icon>add</mat-icon>
                                            </button>
                                            <button (click)="yeniHissedarEkle()" mat-mini-fab
                                                    color="primary"
                                                    aria-label="Add icon" title="Yeni Hissedar Ekle">
                                                <mat-icon>add</mat-icon>
                                            </button>
                                        </div>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>