.hisse-card {
    width: 200px;
    height: 200px;
    background-color: lightcyan;
    margin: 10px;
}

.hisse-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}