<div id="hissedar-ekle-page" class="page">
    <h2>Hissedar Ekle</h2>

    <form (ngSubmit)="onSubmit()" #hissedarEkleForm="ngForm">
        <mat-form-field>
            <mat-label>Ad</mat-label>
            <input [(ngModel)]="newHissedar.ad" name="ad" matInput placeholder="" required>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Soyad</mat-label>
            <input [(ngModel)]="newHissedar.soyad" name="soyad" matInput placeholder="" required>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Telefon No</mat-label>
            <input [(ngModel)]="newHissedar.tel" name="tel" matInput placeholder="" required>
        </mat-form-field>
        <br>

        <div *ngIf="!hisseSecimMode">
            <button type="submit" mat-raised-button color="primary" [disabled]="!hissedarEkleForm.form.valid">Kaydet
            </button>
        </div>
    </form>

    <div *ngIf="hisseSecimMode">
        <button mat-raised-button color="warn" (click)="onIptalClick()">İptal</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="newHissedar" cdkFocusInitial>Kaydet</button>
    </div>
</div>